svg path, svg circle {
  stroke: #000;
  stroke-width: 0.25;
  stroke-linecap: round;
  fill: none;
}
.hangman {
  width: 10%;
  height: 10%;
}

.word-display {
  flex-basis: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
