svg path, svg circle {
  stroke: #000;
  stroke-width: 0.25;
  stroke-linecap: round;
  fill: none;
}
.hangman {
  width: 10%;
  height: 10%;
  margin-right: 2em;
}

.word-display {
  display: flex;
  align-content: center;
  justify-content: center;
}

.letter-list {
  margin-top: 1em;
  margin-bottom: 1em;
}
