@import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body  {
  background: darkgray;
  margin: 0;
}

.grid-layout-custom {
  width: 15em;
  height: 15em;
}

.flex-new-line {
  flex-basis: 100%;
}
